{% extends 'base.html' %}
{% load static %}

{% block html_body_content %}

{% include 'header.html' %}

{% if messages %}
    {% for message in messages %}
     {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

    {% endfor %}

{% endif %}

<section class="d-block overflow-hidden">
    <div class="content-div-explore">
        {% include 'crime_records/list.html' %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add Crime Record</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form id="add-record-form" enctype="multipart/form-data" action="{% url 'crime_records:add_crime_record' %}" method="post">
                  {% csrf_token %}
                  {{ add_record_form.as_p }}
                  <button type="submit" class="btn btn-success">Save</button>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>

</section>
{% include 'footer.html' %}

{% endblock %}
