{% extends 'base.html' %}
{% load static %}

{% block html_body_content %}

{% include 'header.html' %}
<section class="d-block overflow-hidden p-3">
    <div class="content-div">
            {% if query %}
            <p class="lead">You searched for '{{ query }}'</p>
            {% else %}
            <form class="form-inline my-2 my-lg-0" action=".">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <br>
            {% endif %}
    </div>
</section>{% include 'footer.html' %}

{% endblock %}