h1,h2,h3,h4,h5,h6,p,a,small{
    font-family: kanit;
}

#site-header{
    height: 10vh;
    background-color: black;
    color: white;
    padding: 20px 15px;
    overflow: hidden;
    border-radius: 0 0 0 50px;
}

#nav-bar-ul{
    padding: 0;
    float: right;
}

#nav-bar-ul li{
    margin-right: 5px;
    font-size: 16px;
}

#middle-div{
    display: inline;
    width: 80%;
    margin: 0 auto;
}

#left-div, #right-div{
    width: 10%;
}

.content-div{
    display: inline;
    float: left;
    height: 82vh;
    overflow: scroll;
}

.content-div-explore{
    display: block;
    overflow: scroll;
    height: 82vh;
}

#search-bar{
    width: 80%;
    margin-bottom: 13px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    background-color: #e9e9e9;
    transition: .9s;
}

#search-bar:focus{
    outline: none;
    background-color: white;
    /*border: 3px solid #0275d8;*/
    border: 3px solid black;
}

#search-form{
    margin-top: 10vh;
    text-align: center;
}

#search-form button{
    border-radius: 11px;
    padding: 7px 40px;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: black;
    border: unset;
    transition: .9s;
}

#search-form button:hover{
    padding: 13px 47px;
    font-size: 19px;
}

#site-footer{
    height: 8vh;
    background-color: black;
    display: block;
    border-radius: 50px 0px 0 0;
    padding: 10px 0 0 0;
}

#record-table{
    /*width: 90%;*/
    margin: 0 auto;
    padding: 20px;
}

#record-table thead tr th{
    padding: 10px 15px;
}

#profile-header{
    display: block;
    /*box-shadow: 0 0 10px #cbcbcb;*/
    /*box-shadow: 0 0 10px red;*/
     border: 3px solid #dddddd;
     box-shadow:  0 0 10px  #cbcbcb;
      -moz-box-shadow: 0 0 10px #cbcbcb;
      -webkit-box-shadow: 0 0 10px  #cbcbcb;
      -o-box-shadow: 0 0 10px #cbcbcb;
    overflow: hidden;
}

#main-profile-pic{
    border-radius: 50%;
    overflow: hidden;
    float: left;
}


#user-detail{
    /*width: 80%;*/
    display: block;
    margin: 35px 0 0 10px;
    float: left;
}


.user-detail-span{
    display: inline-table;
    width: 100%;
    margin-bottom: 5px;
}

.offender-description{
    display: inline-table;
}

div.description_p{
    width: 89%;
    padding: 0 5px;
}

#profile-date-section{
    float: right;
    margin-top: 50px;
}