{% extends 'base.html' %}
{% load static %}

{% block html_body_content %}

{% include 'header.html' %}
<section class="d-block overflow-hidden">
    <div id="left-div" class="content-div">`</div>
    <div id="middle-div" class="content-div bg-white">
        <div id="profile-header" class="p-3">
            <div class="overflow-hidden">
                <a href="{{ record.passport.url }}"><img id="main-profile-pic" src="{{ record.passport.url }}" alt=""></a>
                <div id="user-detail" class="d-inline ">
                    <span class="user-detail-span"> <h5 class="d-inline">Name: </h5> <strong class="">{{record.first_name.title}} {{record.last_name.title}} {{record.middle_name.title}}</strong></span>
                    <span class="user-detail-span"> <h5 class="d-inline">Date of Birth: </h5> <strong class="">{{record.date_of_birth}}</strong></span>
                    <span class="user-detail-span"> <h5 class="user-detail-span d-inline">State: </h5> <strong class="">{{record.state_of_origin.title}}</strong></span>
                    <span class="user-detail-span"> <h5 class="user-detail-span d-inline">Nationality: </h5> <strong class="">{{record.nationality.title}}</strong></span>
                    <span class="user-detail-span"> <h5 class="user-detail-span d-inline">BVN: </h5> <strong class="">{{record.BVN}}</strong></span>
                </div>
                <div id="profile-date-section">
                    <span class="mr-3"> <small class="d-inline text-primary">Date Created: </small> <strong class="text-muted small">{{record.created}}</strong></span>
                    <span class=""> <small class="d-inline text-primary">Last Mofified: </small> <strong class="text-muted small">{{record.modified}}</strong></span>
                </div>
            </div>
            <hr>
            <div id="offender-case-section" class="d-block mt-3 overflow-hidden">
                 <span class="d-block overflow-hidden mt-3">
                     <div class="offender-description float-left"><h5 class="d-inline font-weight-bold">Extra Note:</h5></div>
                     <div class="offender-description description_p float-right"><p class="d-inline text-muted">{{record.extra_note|linebreaks}}</p></div>
                 </span>
            </div>
        </div>
<!--        <div id="right-div" class="content-div">`</div>-->
    </div>

</section>
{% include 'footer.html' %}

{% endblock %}
