{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<style>
    /*.content-div{*/
    /*    height: 90vh;*/
    /*}*/
    /*#middle-div{*/
    /*    width: 65%;*/
    /*}*/
    /*#right-div, #left-div{*/
    /*    width: 17.5%;*/
    /*}*/
</style>
{% endblock %}

{% block html_body_content %}
{% if messages %}
    {% for message in messages %}
     {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

    {% endfor %}

{% endif %}
{% include 'header.html' %}
<section class="d-block overflow-hidden">
<!--    <div id="left-div" class="content-div">`</div>-->
    <div id="middle-div" class="content-div mb-5 mt-3 w-50 bg-white">
        <div id="profile-header" class="p-3">
            <center><h3 class="p-3 font-weight-bold"><u>DETAILED CRIME RECORD</u></h3></center>
            <br>

            <div class="overflow-hidden">
                <h6 class="font-weight-bold">Profile Information</h6>
                <hr>
                <div id="user-profile-image-div" class="d-inline">
                    <a href="{{ record.passport.url }}"><img id="main-profile-pic" src="{{ record.passport.url }}" alt=""></a>
                </div>
                <div id="user-detail-section" class="overflow-hidden">
                    <div id="user-detail" class="d-inline ">
                    <table id="user-profile-table" class="table">
                      <tbody>
                        <tr>
                          <td><span class="user-detail-span"> <small class="d-inline">First Name: </small> <strong class="table-title-space">{{record.first_name.upper}} {{record.last_name.title}} {{record.middle_name.title}}</strong></span></td>
                          <td><span class="mr-5"></span></td>
                          <td><span class="user-detail-span"> <small class="d-inline">Address: </small> <strong class="table-title-space">{{record.address}}</strong></span></td>

                        </tr>
                      </tbody>
                      <tbody>
                        <tr>
                          <td><span class="user-detail-span"> <small class="d-inline">Date of Birth: </small> <strong class="table-title-space">{{record.date_of_birth}}</strong></span></td>
                          <td></td>
                          <td><span class="user-detail-span"> <small class="d-inline">Age: </small> <strong class="table-title-space">---</strong></span></td>

                        </tr>
                        <tr>
                          <td><span> <small class="user-detail-span d-inline">State: </small> <strong class="table-title-space">{{record.state_of_origin.title}}</strong></span></td>
                          <td></td>
                          <td><span class="user-detail-span"> <small class="user-detail-span d-inline">Nationality: </small> <strong class="table-title-space">{{record.nationality.title}}</strong></span></td>
                        </tr>
                        <tr>
                          <td><span><small class="user-detail-span d-inline">Hair Colour: </small> <strong class="table-title-space">{{record.hair_colour}}</strong></span></td>
                          <td></td>
                          <td><span><small class="user-detail-span d-inline">Eye Colour: </small> <strong class="table-title-space">{{record.eye_colour}}</strong></span></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span><small class="user-detail-span d-inline">Gender: </small> <strong class="table-title-space">{{record.sex}}</strong></span></td>
                          <td></td>
                          <td><span><small class="user-detail-span d-inline">Marital Status: </small> <strong class="table-title-space">{{record.marital}}</strong></span></td>
                        </tr>
                        <tr>
                          <td><span><small class="user-detail-span d-inline">Height: </small> <strong class="table-title-space">{{record.height}}</strong></span></td>
                          <td class="mr-5"></td>
                          <td><span><small class="user-detail-span d-inline">Weight: </small> <strong class="table-title-space">{{record.weight}}</strong></span></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                </div>

                <br>
                <br>
                <br>
                <div id="sentence-info" class="overflow-hidden">
                    <h6 class="font-weight-bold">Arrest & Sentence Information</h6>
                    <hr>
                    <table class="table table-striped table-sm table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                      <th scope="col">Offence</th>
                          <th scope="col">Entity(offended)</th>
                          <th scope="col">Charge</th>
                          <th scope="col">Term</th>
                            {% if request.user.is_staff %}
                          <th scope="col">Action</th>
                            {% endif %}
                        </tr>
                      </thead>
                      <tbody>
                      {% for case in cases %}
                        <tr>
                          <td>{{ case.date }}</td>
                          <td>{{ case.offence }}</td>
                          <td>{{ case.entity }}</td>
                          <td>{{ case.charge }}</td>
                          <td>{{ case.term }}</td>
                            {% if request.user.is_staff %}
                          <td><a onclick="if (! confirm('Do you want to delete this record?')) { return false; }" class="btn btn-danger" href="">Delete</a></td>
                            {% endif %}
                            {% empty %}
                          <td colspan="6"><center>No record yet</center></td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    {% if request.user.is_staff %}
                    <a class="btn btn-primary" href="{% url 'crime_records:add_sentence' record.id %}">add sentence</a>
                    {% endif %}
                </div>
            </div>

            <div id="offender-case-section" class="d-block mt-3 overflow-hidden">
                <hr>
                 <span class="d-block overflow-hidden mt-3">
                     <div class="offender-description float-left"><h6 class="d-inline font-weight-bold">Extra Note:</h6></div>
                     <div class="offender-description description_p float-right"><p class="d-inline text-muted">{{record.extra_note|linebreaks}}</p></div>
                 </span>
            </div>
            <hr>
            {% if request.user.is_staff %}
              <td><a class="btn btn-secondary float-right ml-1" href="{% url 'crime_records:crime_list' %}">Back</a></td>
              <td><a href="{% url 'crime_records:edit_crime_record' record.id %}" class="btn btn-primary ml-1 float-right">edit</a></td>
              <td><a href="{% url 'crime_records:delete_crime_record' record.id %}" onclick="if (! confirm('Do you want to delete this record?')) { return false; }" class="btn btn-danger float-right">delete</a></td>
            {% endif %}
        </div>
<!--        <div id="right-div" class="content-div">`</div>-->
    </div>

</section>
<!--{% include 'footer.html' %}-->

{% endblock %}
